*{
    box-sizing: border-box;
}


.con-left{
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap:5px;
    padding: 10px;
}
.contact{
    display:flex;
    align-items:center;
    background-color: black; 
    color: white;
    gap:800px;
    height:50px;

}

.con-right{
    display: flex;
    align-items: center;
    gap: 40px; 
    background-color: black; 
    padding: 10px
}

.header{
    display:flex;
    align-items:center;
    gap:150px;
}
.header-right{
    align-items: center;
    gap: 90px; 
    padding-right: 50px;
}

.slider{
    display:flex;
    width:100%;
    height:auto;
    align-items: center;
    justify-content: center;
    margin-right:0;
    /* width:1000px;
    height:700px; */
}
.slides{
    /* width:700%;
    height:40%; */
    margin:0;
    padding: 0;
    background-image:url("https://themewagon.github.io/zay-shop/assets/img/banner_img_02.jpg");
    width:101%;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.content{
    justify-content: center;
    align-items: center;
    top:50%;
    margin-top:139px;
    margin-left:20px;
    
}

.cat-img img{
    width:300px;
    height:300px;
    border-radius: 50%;
    margin:0 10px;
}
.categories{
    width:100%;
}

.cat-bot-up button{
    background-color: rgb(20, 124, 20);
    color:white;
    width:80px;
    height:50px;
    border-radius: 10px;
}
.cat-img{
    display:flex;
    justify-content: center;
    margin-bottom:20px;
    gap:40px;
}
.cat-bot-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 10px 0; 
}
.cat-bot{
    /* display:flex; */
    display: flex;
    align-items: center; 
    flex-direction: row; 
    justify-content:center;
}
.content-up{
    display:flex;
}
.Featured-product{
    width:100%;
    margin:8px;
    height:auto;
    display:flex;
gap:90px;
}
.product img{
    width: 300px;
    height: 200px;
}

.content-up img{
    margin-top:0;
    width:200px;
    height:30px;
}
.product{
    border:solid 1px gray;
    border-radius:8px;
    gap:80px;
    margin:40px;
 
}

.top{
    align-content: center;

}

.next-one{
    background-color: rgb(226, 240, 248);
}
.footer{
    display:flex;
    gap:300px;
    background-color:rgb(29, 28, 28);
    color:white;
}
.f1{
    display:flex;
    color:white;
}
.footer-2{
    gap:100px;
    justify-items: center;
    background-color: rgb(29, 29, 29);
    color:white;
}